# Ignore all files in algorithm folder and its subdirectories
*/*

# But do not ignore .cpp files
!*/bj[0-9]*.cpp

# Track README.md file
!README.md

# Track everything in sample_code folder
!sample_code/*